
@{
    ViewBag.Title = "Estatus";
}

<div style="text-align:center;">
    <h2>Tu orden <b style="color:red;">@ViewBag.NumeroOrden</b> esta en proceso</h2>
    <h5>Una persona solo puede efectuar un pedido.</h5>
</div>

