
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_LayoutAdministrativo.cshtml";
}
@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)

<h2>Clientes</h2>

@Html.Action("GridViewPartialClientes", "Usuarios")
